#Cambiamos la ruta para que apunte a Public


#ErrorDocument 404 /Sistema-fondos/public/resources/errors/404.php
#ErrorDocument 403 /public/resources/errors/403.php
#ErrorDocument 500 /public/resources/errors/500.php


