body{
    background: #fff;
  }
/* INDEX */
.card{
  box-shadow: 0 0 0.875rem 0 rgb(33 37 41 / 5%);
  -webkit-box-shadow: 0 0 0.875rem 0 rgb(33 37 41 / 5%);
  border:0px solid rgba(0,0,0,.125)!important;
}
.slider{
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.sidenav{
  margin-top: 45vh;
}
.content-login{
  height: 100vh;
}
.content-login-sesion{
  margin-top: 35vh;
}
@media only screen and (max-width : 768px) {
  .slider {
  /* background: url("../theme/img_login/default1.jpg"); */
  height: 55vh;
  background-size: cover;
  background-position: center;
  }
  .sidenav{
    margin-top: 20vh;
  }
  .content-login{
    height: 54vh;
  }
  .content-login-sesion{
    margin-top: 6vh;
  }
}

.white{
  color:white;
}
.container-fluid-resp{
  width: 100%;
  /* padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem); */
  margin-right: auto;
  margin-left: auto;
}

  .wrapper{
    margin-top:3rem;
  }
  .form-login{
    max-width: 300px;
    margin:0 auto;
    background: white;
    padding:15px 40px 50px;
    border: 1px solid #f1eded;
    -webkit-box-shadow: 2px 5px 9px 5px rgba(0,0,0,0.17); 
    box-shadow: 2px 5px 9px 5px rgba(0,0,0,0.17); 
  }
  .btn-purple-light{
    color: #fff;
    background-color: #8d55f0b8;
    border-color: #cab6ee;
  }
span.msg-error{ color: red; font-size: 0.8em; }
.background-header{
  background: #673bb6;
  height: 25vh;
}
.styles{
  width: 50%; 
  margin: 0 auto; 
  border-top-color: #a179ea; 
  border-top-width: 5px; 
  border-radius: .50rem; 
  box-shadow: 2px 5px 9px 5px rgb(0 0 0 / 5%);
}
@media only screen and (max-width : 768px) {
  .styles{
    width: 100%; 
    margin: 0 auto; 
    border-top-color: #a179ea; 
    border-top-width: 5px; 
    border-radius: .50rem; 
    box-shadow: 2px 5px 9px 5px rgb(0 0 0 / 5%);
  }
}

